## 연습 문제 

- 다음과 같은 두개의 DataFrame 을 생성하고 하나의 DataFrame 으로 join

### product DataFrame

| productID | Price | Product | 
|:---:|:---:|:---:|
| 4109| 5.0 | Sushi Roll | 
| 1412 | 0.5 | Egg |
| 8931 | 1.5 | Bagel |

### invoice DataFrame
<table>
    <th></th>
    <th>Customer</th>
    <th>ProductId</th>
    <th>Quantity</th>
    <tr>
    <td>0</td>
     <td>ALL</td>
     <td>4109</td>
     <td>1</td>
    </tr>
    <tr>
    <td>1</td>
    <td>Eric</td>
     <td>1412</td>
     <td>12</td>
     </tr>
    <tr>
     <td>2</td>
    <td>Ande</td>
     <td>8931</td>
     <td>6</td>
     </tr>
    <tr>
    <td>3</td>
    <td>Sam</td>
    <td>4109</td>   
    <td>2</td>
    </tr>
</table>

In [1]:
import pandas as pd 

product_df = pd.DataFrame({"ProductID": [4109, 1412, 8931],
                           "Price": [5.0, 0.5, 1.5],
                           "Product": ["Sushi Roll", "Egg", "Bagel"]})

product_df = product_df.set_index('ProductID')

invoice_df = pd.DataFrame({"Customer": ["Ali", "Eric", "Ande", "Sam"],
                           "ProductID": [4109, 1412, 8931, 4109],
                           "Quantity": [1, 12, 6, 2]})

answer_df = pd.merge(invoice_df, product_df, right_index=True, left_on="ProductID")

print(product_df)
print()
print(invoice_df)
print()
print(answer_df)

           Price     Product
ProductID
4109         5.0  Sushi Roll
1412         0.5         Egg
8931         1.5       Bagel

  Customer  ProductID  Quantity
0      Ali       4109         1
1     Eric       1412        12
2     Ande       8931         6
3      Sam       4109         2

  Customer  ProductID  Quantity  Price     Product
0      Ali       4109         1    5.0  Sushi Roll
3      Sam       4109         2    5.0  Sushi Roll
1     Eric       1412        12    0.5         Egg
2     Ande       8931         6    1.5       Bagel

## 연습 문제

- 위의 cars.csv 파일의 column 명이 너무 길므로 column 명 중 `(kW)` 를 `kw` 로,  `CITY (kWh/100 km)` 을 `city-km` 으로 변경  

- groupby 함수를 사용하여,  연도별 평균 배터리 용량(`kw`) 표시 (`Make` 무시)

In [4]:
df = pd.read_csv("cars.csv")
df.head()

,YEAR,Make,Model,Size,(kW),Unnamed: 5,TYPE,CITY (kWh/100 km),HWY (kWh/100 km),COMB (kWh/100 km),CITY (Le/100 km),HWY (Le/100 km),COMB (Le/100 km),(g/km),RATING,(km),TIME (h)
0,2012,MITSUBISHI,i-MiEV,SUBCOMPACT,49,A1,B,16.9,21.4,18.7,1.9,2.4,2.1,0,NaN,100,7
1,2012,NISSAN,LEAF,MID-SIZE,80,A1,B,19.3,23.0,21.1,2.2,2.6,2.4,0,NaN,117,7
2,2013,FORD,FOCUS ELECTRIC,COMPACT,107,A1,B,19.0,21.1,20.0,2.1,2.4,2.2,0,NaN,122,4
3,2013,MITSUBISHI,i-MiEV,SUBCOMPACT,49,A1,B,16.9,21.4,18.7,1.9,2.4,2.1,0,NaN,100,7
4,2013,NISSAN,LEAF,MID-SIZE,80,A1,B,19.3,23.0,21.1,2.2,2.6,2.4,0,NaN,117,7

In [5]:
df = df.rename(columns={'(kW)': 'kw', 'CITY (kWh/100 km)': 'city-km'})
df.head()

,YEAR,Make,Model,Size,kw,Unnamed: 5,TYPE,city-km,HWY (kWh/100 km),COMB (kWh/100 km),CITY (Le/100 km),HWY (Le/100 km),COMB (Le/100 km),(g/km),RATING,(km),TIME (h)
0,2012,MITSUBISHI,i-MiEV,SUBCOMPACT,49,A1,B,16.9,21.4,18.7,1.9,2.4,2.1,0,NaN,100,7
1,2012,NISSAN,LEAF,MID-SIZE,80,A1,B,19.3,23.0,21.1,2.2,2.6,2.4,0,NaN,117,7
2,2013,FORD,FOCUS ELECTRIC,COMPACT,107,A1,B,19.0,21.1,20.0,2.1,2.4,2.2,0,NaN,122,4
3,2013,MITSUBISHI,i-MiEV,SUBCOMPACT,49,A1,B,16.9,21.4,18.7,1.9,2.4,2.1,0,NaN,100,7
4,2013,NISSAN,LEAF,MID-SIZE,80,A1,B,19.3,23.0,21.1,2.2,2.6,2.4,0,NaN,117,7

In [6]:
df[['YEAR', 'kw']].groupby('YEAR').mean()

              kw
YEAR
2012   64.500000
2013  158.444444
2014  135.000000
2015  181.428571
2016  252.263158